In [16]:
import os
import re
import nltk
import spacy
import numpy as np
import pandas as pd
import chardet

from tqdm import tqdm
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nlp=spacy.load("en_core_web_sm")

stop_words=set(stopwords.words('english'))
stop_words = [i for i in stop_words if i not in ['not','until','against','up', 'down', 'no', 'nor',"aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',
                                                "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 
                                                 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", "don't"]]

In [12]:
df=pd.read_csv(r'C:\Users\Aashish\OneDrive/Desktop/Data Science & ML/Specialization/Natural Lanaguage Processing/training.1600000.processed.noemoticon.csv',encoding='latin',header=None,on_bad_lines='skip')
df.rename(columns={0:'labels',5:'tweets'},inplace=True)
df.drop([1,2,3,4],axis=1,inplace=True)

df['labels']=df['labels'].replace(4,1)

df=df.sample(frac=1)
df=df.head(10000)
df.head()

         labels                                             tweets
518973        0  I apologize for the delay in updates. Been hav...
361164        0                         Haven't Tweetd For Ages  x
571916        0             its gloomy outside... it makes me sad
1001929       1                         Iguanas was great tonight
1535253       1                  @Tilbs hey hey I'm good how's u?

In [18]:
def get_word_len(tweet):
    return len(tweet.split(' '))

def get_char_len(tweet):
    return len(tweet)

def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", '', tweet, flags=re.MULTILINE)
    tweet = re.sub(r'@\w+', '', tweet)
    tweet = re.sub(r'[^\w\s#]', '', tweet)
    tokens = [token.lemma_ for token in nlp(tweet)]
    tokens = [token for token in tokens if token not in stop_words]
    tokens = [token for token in tokens if len(token) > 1]
    processed_tweet = ' '.join(tokens)
    return processed_tweet

df['clean_tweets'] = [preprocess_tweet(tw) for tw in tqdm(df['tweets'] ,position=0, leave=True )]
df['tweet_words_length'] = df['clean_tweets'].apply(get_word_len)
df['tweet_chars_length'] = df['clean_tweets'].apply(get_char_len)

df.head()

100%|██████████| 10000/10000 [01:10<00:00, 141.49it/s]

,labels,tweets,clean_tweets,tweet_words_length,tweet_chars_length
518973,0,I apologize for the delay in updates. Been hav...,apologize delay update issue phone,5,34
361164,0,Haven't Tweetd For Ages x,not tweetd age,3,14
571916,0,its gloomy outside... it makes me sad,gloomy outside make sad,4,23
1001929,1,Iguanas was great tonight,iguanas great tonight,3,21
1535253,1,@Tilbs hey hey I'm good how's u?,hey hey good,3,12